.regButton {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.signUpBtn {
    color: white;
    padding: 1px 19px 1px 21px;
    background-color: #000000;
    border-radius: 10px;
}

.hr {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
}

#handImage {
    margin-bottom: 40px;
}